
body{
	margin: 0;
}
.logostyle img{
	width: 80%;
	height: auto;
	

}
header{
	width: 100%;	
}
h1{
	color: #E04D01;
	text-align: center;
	font-family: Comic Sans MS;
	font-size: 30px;
	text-decoration: underline;
	margin-top: 5%;
}
.formstyle{
	margin: 2%;
	width: 96%;	
}

.main{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
    position: relative;
    font-family:Calibri;
	font-size: 16px;
}
.formstyles{
	width: 94%;
	height: 3.5em;
	margin: 2%;
}
.formstyles input[type="text"]{
	width: 100%;
    border-radius: 5px;
    height: 2em;
}

textarea{
	width: 100%;
	border-radius: 5px;
}
footer{
	text-align: right;
}
.addressstyle{
	margin: 2%;
	align-content: flex-end;
}
.addressstyle h3{
	color: #E04D01 ;
	font-family:Georgia;
	font-size:26px;
}
address{
	color: #075e1d;
	font-size: 12px;
	font-family:Georgia;
	font-size:16px ;
	


}
.formstyles label{
	font-weight: bolder;
}



@media screen and (max-width:650px){
	img{
	
		height: 85px;
		width:274px;

	}
	.formstyles{
		height: 5em;
	}
	.main{
		width: 76%;
		margin-left: 12%;
	}
	